body{

 $cyan-blue: #37474f;
 $cyan-blue-light : #00BCD4;  
 $cyan-blue-link : rgba(255, 255, 255, 0.56);
 $cyan-blue-dark : #263238;
 $nav-color : #f5f5f5;
 $gray : #757575;
  
 header, main, footer {
     padding-left:240px;
 }
 
 .no-padding{
     padding:0
 }
 
 nav.top-nav a.page-title {
    line-height: 65px;
    font-size: 24px;
 }
 
 nav.top-nav {
    height: 65px;
    background: $nav-color;
    
    a{
        color : $gray;    
    }

 }
 
 #main-nav.side-nav{
     background-color: $cyan-blue;
     
     li.avatar-header{
        height:150px;
        padding-top:10px;
        background-color: $cyan-blue-dark;
        
        .user-icon{
            line-height: 48px;
            height: 48px;
        }
        li {
            background:#263238;
            
            a:hover{
                color:#4db6ac !important;     
            }
        }
     }
     
     li {
        a {
             color: $cyan-blue-link;
        }
    }
    
    li:hover{
        background-color: $cyan-blue-light;
        a {
            color: #37474F;
        }
    }
    
    li.avatar-header:hover{
        background-color: $cyan-blue-dark;
            
     }
 }
 
 .container{
     h2.header{
             color: $cyan-blue-light;
     }
 } 
 

}
