{{define "admin/dashboard/login"}}
  <div class="row valign-wrapper">
    <div class="col s12 offset-s0 m6 offset-m3 valign center-align card-panel">
      <div class="row">
        <!-- Logo here -->
      </div>    
      <form action="/admin/login?next={{.NextURL}}" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
          <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" value="{{.Username}}">
          <label for="username">Username</label>
          </div>

          <div class="input-field col s12">
          <input placeholder="Placeholder" id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
          </div>
        
        
        <button class="waves-effect waves-light btn" type="submit">
          Login
        </button>
        </div>
      </form>    

    </div>

  </div>  
{{end}}